#survey-of-the-students {
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .cover-photo {
    background-image: url('../img/survey.jpeg');
    min-height: 300px;
    background-position: center center;
    background-size: cover;
    width: 100%;
    position: relative;
    background-attachment: fixed;
  }

  .survey-title {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 150px;
    height: 100%;
    min-height: 300px;

    .survey-title-content {
      position: absolute;
      top: 50%;
      padding: 0 50px;
      width: 100%;

      @media #{$mobile} {
        top: 35%;
      }

      .survey-title-content-inner {
        max-width: 1000px;
        margin-right: auto;
        margin-left: auto;

        h1 {
          color: $white;
          text-shadow: 1px 1px 1px #000;
          font-size: 50px;

          @media #{$mobile} {
            font-size:40px;
          }
        }

        hr {
          border-color: $point-green;
        }
      }
    }
  }

  .school-results {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    padding: 40px 20px;
    background-position: center;
    background-size: cover;
    position: relative;
    @media #{$mobile} {
      margin: 10px;
    }
  }

  .school-results-rvt {
    background-color: $rvt-green;
    background-image: url('../img/schools/rvt.jpg');

  }
  .school-results-point {
    background-color: white;
    background-image: url('../img/schools/point.png');

  }
  .school-results-valga {
    background-color: $valga-yellow;
    background-image: url('../img/schools/valga.jpg');
  }

  h2, h3 {
    text-align: center;
  }

  h3 {
    font-size: 2rem;
  }

  .link-to-form {
    text-align: center;
  }

  .open-form {
    font-size: 50px;
  }

  .school-results-info {
    position: relative;
  }

  .school-results-img {
    min-height: 94px;
  }

  .overlay-results {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .open-form {
    color: $rvt-red;
    transition: all 0.2s ease-in-out;
    &:hover, &:active, &:focus {
      color: $valga-orange;
    }
  }
}