$mobile: "(max-width: 767px)";
$tablet: "(min-width: 768px) and (max-width: 991px)";
$desktop: "(min-width: 992px)";
//and (max-width: 1199px)";
//$desktop-large: "(min-width: 1200px)";
$yellow: #ECDA1D;
$red: #CC460E;
$green: #82AD41;
$grey:#222;
//$font: Catamaran,Helvetica,Arial,sans-serif;
$font:  'Roboto', sans-serif;
$orange: #f05f40;
$white: #fff;

// Schools colors
$point: #073675;
$point-green: #43b02a;
$point-orange: #ff671f;

$rvt-red: #7E0000;
$rvt-green: #4DA20F;

$valga-yellow: #FFD800;
$valga-orange: #F69518;
$valga-grey: #7B7D80;

$nordplus-blue: #006da7;